#content {
    margin-top: 5vh;
    background-color: #f4f1de;
    width: 100%;
    height: 100%;
}


h1#title {
    margin-top: 0.7%;
}


.article {
    margin: 20px;
    display: inline-block;
  }
  
  .article-container {
    padding: 10px;
    text-align: center;
  }
  
  .article-image {
    max-width: 40%;
    height: auto;
    margin: 0 10px;
  }
  
  
  .article-title {
    margin-top: 10px;
  }
  
a#loga {
    font-size: 2.5vh;
}

#header {
    background-color: #212121;
    width: 100%;
    height: 7vh;
    font-size: 2.5vh;
}

#header-content {
    margin-top: -2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 25px;
    background-color: #212121;
}

#title {
    text-align: center;
    color: white;
    flex-grow: 1;
    margin-right: 4vw;
}

#firsticon, #secondicon, #thirdicon {
    width: 2vw;
    height: 4vh;
    margin-right: 1vw;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    #firsticon, #secondicon, #thirdicon {
        width: 3vw;
        height: 3vh;
    } 
}

@media (max-width: 980px) {
    #header-content {
        margin-top: 0vh;
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 6vh;
    }

    #content{
        margin-top: 0vh;
    }

    #header {
        height: 30vh;
    }  
}

@media (max-width: 601px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 30vh;
    } 
 
}

@media (max-width: 283px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 36vh;
    } 
 
}
@media (max-width: 250px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 40vh;
    } 
 
}

#loginHeader {
    background-color: black;
}

#hello {
    color: white;
}

#loga {
    color: white;
    text-decoration: none;
    font-size: large;
}

