#content {
    margin-top: 5vh;
    background-color: #f4f1de;
    width: 100%;
    height: 90.5vh;
}

#header {
    background-color: #212121;
    width: 100%;
    height: 7vh;
}

#header-content {
    margin-top: -2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #212121;
}

#title {
    text-align: center;
    color: white;
    flex-grow: 1;
    margin-right: 4vw;
}

#firsticon, #secondicon, #thirdicon {
    width: 2vw;
    height: 4vh;
    margin-right: 1vw;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    #firsticon, #secondicon, #thirdicon {
        width: 3vw;
        height: 3vh;
    } 
}

@media (max-width: 850px) {
    #header-content {
        margin-top: 0vh;
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 6vh;
    }

    #content{
        margin-top: 2vh;
    }

    #header {
        height: 22vh;
    }  
}

@media (max-width: 638px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 30vh;
    } 
 
}

@media (max-width: 340px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 40vh;
    } 
 
}
@media (max-width: 265px) {
    #header-content {
        flex-direction: column; 
        align-items: center;
    }

    #firsticon, #secondicon, #thirdicon {
        width: 6vw;
        height: 5vh;
    }

    #content{
        margin-top: 0;
    }

    #header {
        height: 45vh;
    } 
 
}

#loginHeader {
    background-color: black;
}

#hello {
    color: white;
}

