#fourthicon {
  margin-left: 24%;
  margin-top: 5.6%;
  width: 50%;
}

#loginInput {
  position: absolute;
  top: 46%;
  left: 59%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 13%; 
}

.error-message {
  color: red;
  font-size: large;
}


#hello {
  margin: 0;
}

#logout {
  padding: 0;
  margin: 0;
}

#handlelogout{
  margin: 0;
  padding: 2.2%; 
  margin-left: 15%;
  color: #212121;
  background-color: #f4f1de;
}

#return {
  color: white;
}

.error-message{
  text-align: center;
}

#passInput {
  position: absolute;
  top: 61%;
  left: 59%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 13%; 
}

#loginButton {
  position: absolute;
  top: 72%;
  left: 59%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 10%;
}


@media (max-width: 1400px) {
  #loginInput{
    top: 45%;
  }

  #passInput{
    top: 58%;
  }

  #loginButton{
    top: 65%;
  }
}

@media (max-width: 1250px) {
  #loginInput{
    top: 40%;
  }

  #passInput{
    top: 53%;
  }

  #loginButton{
    top: 61%;
  }
}

@media (max-width: 1180px) {
  #loginInput{
    top: 39%;
  }
  #passInput{
    top: 50%;
  }
  #loginButton{
    top: 59%;
  }
}

@media (max-width: 1120px) {
  #loginInput{
    top: 37%;
  }
  #passInput{
    top: 48%;
  }

  #loginButton{
    top: 56%;
  }
}

@media (max-width: 1050px) {
  #loginInput{
    top: 35%;
    height: 5%;
  }
  #passInput{
    top: 46%;
    height: 5%;
  }

  #loginButton{
    top: 54%;
    height: 7%;
  }
}

@media (max-width: 950px) {
  #loginInput{
    top: 36%;
    left: 67%;
  }
  #fourthicon {
    width: 60vw;
    height: 50vh;
  }
  #passInput{
    top: 48%;
    left: 67%;
  }

  #loginButton{
    top: 56%;
    left: 67%;
  }
}

@media (max-width: 950px) {
  #loginInput{
    top: 52%;
    left: 67%;
  }
  #fourthicon {
    width: 60vw;
    height: 50vh;
  }
  #passInput{
    top: 64%;
    left: 67%;
  }

  #loginButton{
    top: 72%;
    left: 67%;
  }
}

@media (max-width: 825px) {
  #loginInput{
    top: 52%;
    left: 67%;
  }
  #fourthicon {
    width: 60vw;
    height: 50vh;
  }
  #passInput{
    top: 64%;
    left: 67%;
  }

  #loginButton{
    top: 72%;
    left: 67%;
    height: 6%;
    padding-right: 5%;
  }
}


@media (max-width: 770px) {
  #loginInput{
    top: 51%;
    left: 67%;
  }
  #fourthicon {
    width: 60vw;
    height: 50vh;
  }
  #passInput{
    top: 63%;
    left: 67%;
  }

  #loginButton{
    top: 71%;
    left: 67%;
    height: 6%;
    padding-right: 10%;
  }
}

@media (max-width: 620px) {
  #loginInput{
    top: 50%;
  }
  #fourthicon {
    margin-left: 10%;
    width: 80vw;
    height: 50vh;
  }
  #loginInput{
    top: 55%;
  }
  #passInput{
    top: 67%;
  }

  #loginButton{
    top: 73%;
    padding-right: 10%;
  }
}

@media (max-width: 538px) {
  #loginInput{
    top: 53%;
  }
  #fourthicon {
    margin-left: 10%;
    width: 80vw;
    height: 50vh;
  }
  #loginInput{
    top: 53%;
  }
  #passInput{
    top: 65%;
  }

  #loginButton{
    top: 72%;
    padding-right: 12%;
  }
}

@media (max-width: 480px) {
  #loginInput{
    top: 53%;
  }
  #fourthicon {
    margin-left: 10%;
    width: 80vw;
    height: 50vh;
  }
  #loginInput{
    top: 53%;
  }
  #passInput{
    top: 65%;
  }

  #loginButton{
    top: 72%;
    padding-right: 14%;
  }
}

@media (max-width: 440px) {
  #loginInput{
    top: 53%;
  }
  #fourthicon {
    margin-left: 10%;
    width: 80vw;
    height: 50vh;
  }
  #loginInput{
    top: 53%;
  }
  #passInput{
    top: 65%;
  }

  #loginButton{
    top: 72%;
    padding-right: 15%;
  }
}

