#header {
    background-color: #222222;
    width: 100%;
    height: 7vh;
  }
  
  #header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222222;
  }
  
  h1 {
    text-align: center;
    color: white;
    flex-grow: 1; 
  }
  
  #firsticon {
    width: 2vw;
    height: 5vh;
  }

  #secondicon {
    width: 2vw;
    height: 5vh;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  